:root {
  --main-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --accent-color: #404bbf;
  --studio-color: #2e2f42;
  --studio-color-second: #f4f4fd;
  /* #434455 */
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* componenets */

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;

  margin: 0 auto;
}

/* components */

/* navigation */

.page-header {
  background: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.page-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  outline: 1px solid tomato;
}

.page-nav {
  display: flex;
  align-items: center;
  column-gap: 76px;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.nav-header {
  display: flex;
  gap: 40px;
}

.logo-first {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.color {
  color: var(--studio-color);
}

/* hover-nav */

.nav-name:hover,
.nav-name:focus {
  color: var(--accent-color);
}

.nav-name {
  width: 67px;
  height: 24px;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.header-nav-adr {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-nav-adr:hover,
.header-nav-adr:focus {
  color: var(--accent-color);
}
.adr {
  font-style: normal;
}
.adr {
  margin-left: auto;
}

.adr-list {
  display: flex;
  gap: 40px;
}

/* hero */

.hero {
  background: #2e2f42;
}
.hero {
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid tomato;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-title {
  max-width: 496px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn-order {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
}
.hero-btn-order {
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 48px auto;
}

.hero-btn-order:hover,
.hero-btn-order:focus {
  background: #4d5ae5;
  background-color: #404bbf;
}

/* section1 */

.feature {
  outline: 1px solid tomato;
  padding: 120px 0;
}

.feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.feature-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.feature-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section2 */

.presentation {
  padding-top: 120px;
  outline: 1px solid tomato;
}

.presentation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.presentation-list {
  display: flex;
  padding-top: 72px;
  padding-bottom: 120px;
  column-gap: 24px;
}

.presentation-list-item {
  flex-basis: calc((100% - 48px) / 3);
}

/* section3 */

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team {
  background: #f4f4fd;
}

.team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  column-gap: 24px;
}

.team-member-container {
  background: #ffffff;

  flex-basis: calc((100% -72px) / 4);
}

.name-member-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.profession-member-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.name-team-text {
  border: 1px solid transparent;
  border-top: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* footer */

.logo-in-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-left: 156px;
}

.studio-color-second {
  color: var(--studio-color-second);
}

.marketing-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
  margin-left: 156px;
}
.footer-conteiner {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* page portfolio */
/* page portfolio */
/* page portfolio */

.portfolio-nav {
  display: flex;
  justify-content: center;
  column-gap: 24px;
  padding-top: 96px;
}

.name-btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background: #f4f4fd;
  padding: 12px 24px;
}

.name-btn-portfolio:hover,
.name-btn-portfolio:focus {
  color: #ffffff;
  background: #404bbf;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 72px;
}

.portfolio-container {
  background: #ffffff;
}

.portfolio-list > .portfolio-container {
}
.development-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.type-work {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-list-text {
  padding: 32px;
  outline: 1px solid tomato;
}
/* page portfolio */
/* page portfolio */
/* page portfolio */
